header {
  margin-top: 15px;
  background-image: url(/images/madera-fondo.jpg); }

h3 {
  width: 300px; }

nav {
  background-image: url(/images/madera-fondo.jpg);
  /* background-color: rgb(68, 38, 204); */
  height: 100px; }

a {
  height: 50px; }

footer {
  padding-top: 50px;
  background-image: url(/images/madera-fondo.jpg); }

h3 {
  font-family: 'Bebas Neue', cursive; }

a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

p {
  font-family: "Square Peg", cursive; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

h1 {
  animation-duration: 5s;
  animation-name: aparecer;
  animation-delay: 1s; }
