* {
    padding: 0%;
    margin: 0%;
  }


  .fondo {
  background-image: url(/images/madera-fondo.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  }


header {
    margin-top: 15px;
    background-color: black;
}

.boton {
    display: flex;
    justify-content: flex-start;
}

.card {
    background: #000;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.3);
  }
  
  .title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 12px;
    opacity: 0.85;
  }


h3 {
    width: 300px;
}

a {
    height: 50px;
}

.logo {
    width: 180px; }


footer {
    padding-top: 50px;
    background-image: url(/images/madera-fondo-mobile.jpg);
}

